#umatrix-legacy-button {
    list-style-image: url('../img/browsericons/icon19-19.png');
}
#umatrix-legacy-button.off {
    list-style-image: url('../img/browsericons/icon19-off.png');
}

toolbar[iconsize="small"] #umatrix-legacy-button {
    list-style-image: url('../img/browsericons/icon19-19.png');
}
toolbar[iconsize="small"] #umatrix-legacy-button.off {
    list-style-image: url('../img/browsericons/icon19-off.png');
}
#umatrix-legacy-button[badge]::before {
    background: #000;
    color: #fff;
    content: attr(badge);
    font: bold 10px sans-serif;
    margin-top: 1px;
    padding: -1px;
    position: fixed;
}
/* This hack required because if the before content changes it de-pops the
   popup (without firing any events). So just hide it instead. Note, can't
   actually *hide* it, or the same thing happens.
**/
#umatrix-legacy-button[badge=""]::before {
    padding: 0;
}

/* Override off state when in palette */
toolbarpaletteitem #umatrix-legacy-button.off {
    list-style-image: url('../img/browsericons/icon19-12.png');
}

/* Override badge when in palette */
toolbarpaletteitem #umatrix-legacy-button[badge]::before {
    content: none;
}

/* Prevent pale moon from showing the arrow underneath the button */
/* https://github.com/chrisaljoudi/uBlock/issues/1449#issuecomment-112112761 */
#umatrix-legacy-button .toolbarbutton-menu-dropmarker {
    display: none;
    -moz-box-orient: horizontal;
}
