@font-face {
  font-family: 'httpsb';
  font-style: normal;
  font-weight: normal;
  src: local('httpsb'), url(fonts/Roboto_Condensed/RobotoCondensed-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'httpsb';
  font-style: normal;
  font-weight: bold;
  src: local('httpsb'), url(fonts/Roboto_Condensed/RobotoCondensed-Bold.ttf) format('truetype');
}
@font-face {
  font-family: 'httpsb';
  font-style: italic;
  font-weight: normal;
  src: local('httpsb'), url(fonts/Roboto_Condensed/RobotoCondensed-Light.ttf) format('truetype');
}
@font-face {
  font-family: 'httpsb';
  font-style: italic;
  font-weight: bold;
  src: local('httpsb'), url(fonts/Roboto_Condensed/RobotoCondensed-BoldItalic.ttf) format('truetype');
}
@font-face {
  font-family: 'httpsb';
  font-style: normal;
  font-weight: 100;
  src: local('httpsb'), url(fonts/Roboto_Condensed/RobotoCondensed-Light.ttf) format('truetype');
}
@font-face {
  font-family: 'FontAwesome';
  src: url('fonts/fontawesome-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
.fa {
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    vertical-align: baseline;
    display: inline-block;
    }

/* http://stackoverflow.com/questions/2011142/how-to-change-the-style-of-title-attribute-inside-the-anchor-tag?answertab=votes */
*[data-tip] {
    position: relative;
    cursor: pointer;
    }
*[data-tip]:hover:after {
    background-color: #fffffa;
    border: 1px solid gray;
    border-radius: 3px;
    box-shadow: 1px 1px 3px gray;
    color: black;
    content: attr(data-tip);
    font: 12px sans-serif;
    line-height: 140%;
    min-width: 40vw;
    padding: 4px 6px;
    position: absolute;
    text-align: start;
    top: 110%;
    white-space: pre-line;
    z-index: 20;
    }
.tip-anchor-left[data-tip]:hover:after {
    left: -5vw;
    }
.tip-anchor-right[data-tip]:hover:after {
    right: -5vw;
    }

