@keyframes spin {
    0% { transform: rotate(0deg); -webkit-transform: rotate(0deg); }
    12.5% { transform: rotate(45deg); -webkit-transform: rotate(45deg); }
    25% { transform: rotate(90deg); -webkit-transform: rotate(90deg); }
    37.5% { transform: rotate(135deg); -webkit-transform: rotate(135deg); }
    50% { transform: rotate(180deg); -webkit-transform: rotate(180deg); }
    67.5% { transform: rotate(225deg); -webkit-transform: rotate(225deg); }
    75% { transform: rotate(270deg); -webkit-transform: rotate(270deg); }
    87.5% { transform: rotate(315deg); -webkit-transform: rotate(315deg); }
    }
ul {
    padding: 0;
    list-style-type: none;
    }
ul#options {
    margin-top: 0;
    }
ul#options li {
    margin-bottom: 0.5em;
    }
.assets {
    border: 1px solid #ccc;
    margin: 0.5em 0 0 0;
    padding: 0;
    }
.assets > div:first-of-type {
    background-color: #eee;
    margin: 0;
    padding: 0.25em 0.5em;
    }
.assets > div + div {
    padding: 0.5em 1em;
    }
ul#lists {
    margin: 0.5em 0 0 0;
    padding: 0;
    }
li.listEntry {
    margin: 0 auto 0 auto;
    padding: 0.2em 0;
    }
body[dir="ltr"] li.listEntry {
    margin-left: 1em;
    margin-right: 0em;
    }
body[dir="rtl"] li.listEntry {
    margin-left: 0em;
    margin-right: 1em;
    }
li.listEntry > * {
    margin-right: 0.5em;
    text-indent: 0;
    unicode-bidi: embed;
    }
li.listEntry > a:nth-of-type(2) {
    opacity: 0.5;
    }
li.listEntry.toRemove > input[type="checkbox"] {
    visibility: hidden;
    }
li.listEntry.toRemove > a.content {
    text-decoration: line-through;
    }
li.listEntry > .fa {
    color: inherit;
    display: none;
    font-size: 110%;
    opacity: 0.5;
    vertical-align: baseline;
    }
li.listEntry > a.fa:hover {
    opacity: 1;
    }
li.listEntry > a.support {
    display: inline-block;
    }
li.listEntry > a.support[href=""] {
    display: none;
    }
li.listEntry > a.remove,
li.listEntry > a.remove:visited {
    color: darkred;
    }
li.listEntry.external > a.remove {
    display: inline-block;
    }
li.listEntry.mustread > a.mustread {
    display: inline-block;
    }
li.listEntry.mustread > a.mustread:hover {
    color: mediumblue;
    }
li.listEntry > .counts {
    display: none;
    font-size: smaller;
}
li.listEntry > input[type="checkbox"]:checked ~ .counts {
    display: inline;
}
li.listEntry span.status {
    color: #444;
    cursor: default;
    display: none;
}
li.listEntry span.status:hover {
    opacity: 1;
    }
li.listEntry span.unsecure {
    color: darkred;
    }
li.listEntry.unsecure > input[type="checkbox"]:checked ~ span.unsecure {
    display: inline-block;
    }
li.listEntry span.failed {
    color: darkred;
    }
li.listEntry.failed span.failed {
    display: inline-block;
    }
li.listEntry span.cache {
    cursor: pointer;
    }
li.listEntry.cached:not(.obsolete) > input[type="checkbox"]:checked ~ span.cache {
    display: inline-block;
    }
li.listEntry span.obsolete {
    color: hsl(36, 100%, 40%);
    }
body:not(.updating) li.listEntry.obsolete > input[type="checkbox"]:checked ~ span.obsolete {
    display: inline-block;
    }
li.listEntry span.updating {
    transform-origin: 50% 46%;
    }
body.updating li.listEntry.obsolete > input[type="checkbox"]:checked ~ span.updating {
    animation: spin 1s step-start infinite;
    display: inline-block;
    }
.dim {
    opacity: 0.5;
    }
li.listEntry.importURL > input[type="checkbox"] ~ textarea {
    display: none;
    margin-left: 1.6em;
    }
li.listEntry.importURL > input[type="checkbox"]:checked ~ textarea {
    display: block;
    }
li.listEntry.importURL > textarea {
    border: 1px solid #ddd;
    box-sizing: border-box;
    display: block;
    font-size: smaller;
    width: calc(100% - 4em);
    height: 6em;
    resize: none;
    white-space: pre;
    }
