select {
    max-width: 20em;
    }
#stats div div,#lists div div {
    padding: 0 1em 0 0;
    display: inline-block;
    text-align: right;
    }
#requestsFilters button {
    font-size: 15px;
    }
#requestsFilters label {
    font-size: 13px;
    padding-right: 0.5em;
    white-space: nowrap;
    }
#requests-log {
    background-color: white;
    border: 1px inset #eee;
    direction: ltr;
    font: 11px monospace;
    margin: 0;
    overflow: scroll;
    padding: 0;
    width: calc(100% - 1.5em);
    }
#requestsTable {
    border-collapse: collapse;
    }
#requests-log tr {
    margin: 0;
    border: 0;
    padding: 0;
    color: #070;
    }
#requests-log tr.ro {
    color: gray;
    }
#requests-log tr:hover {
    background-color: #eee;
    }
#requests-log tr.blocked-true {
    color: #c00;
    }
#requests-log tr:first-child {
    font-weight: bold;
    background-color: #eee;
    }
#requests-log tr > td {
    padding: 1px 0.75em 1px 0;
    white-space: nowrap;
    }
#requests-log tr > td:nth-of-type(2) {
    text-align: right;
    }
.type-main_frame {
    font-weight: bold;
    }
tr.unused {
    display: none;
    }
