body {
    background-color: white;
    border: 0;
    box-sizing: border-box;
    color: black;
    -moz-box-sizing: border-box;
    margin: 0;
    overflow-x: hidden;
    padding: 0;
    white-space: nowrap;
    width: 100%;
    }
#toolbar {
    background-color: white;
    border: 0;
    box-sizing: border-box;
    height: 40px;
    left: 0;
    margin: 0;
    padding: 0 1em;
    position: fixed;
    top: 0;
    width: 100%;
    }
#toolbar .button {
    background-color: white;
    border: none;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-block;
    font-size: 20px;
    margin: 0;
    padding: 8px;
    }
#toolbar .button:hover {
    background-color: #eee;
    }
body.filterOff #toolbar #filterButton {
    opacity: 0.25;
    }
#filterExpression.bad {
    background-color: #fee;
    }
#maxEntries {
    margin-left: 3em;
    }
input:focus {
    background-color: #ffe;
    }
#content {
    margin-top: 40px;
    }
#content table {
    border: 0;
    border-collapse: collapse;
    direction: ltr;
    font: 12px monospace;
    width: 100%;
    }
#content table tr {
    background-color: #fafafa;
    color: #444;
    }
#content table tr.cat_info {
    color: #00f;
    }
#content table tr.blocked {
    color: #f00;
    }
#content table tr:nth-of-type(2n+1) {
    background-color: #eee;
    }
#content table tr.doc {
    background-color: #666;
    color: white;
    text-align: center;
    }
body:not(.filterOff) #content table tr.hidden {
    display: none;
    }
#content table tr td {
    border: 1px solid #ccc;
    min-width: 0.5em;
    padding: 3px;
    vertical-align: top;
    }
#content table tr.doc > td {
    border: 0;
    }
#content table tr td:nth-of-type(1) {
    text-align: center;
    white-space: pre;
    width: 8em;
    }
#content table tr td:nth-of-type(2) {
    width: 1em;
    }
#content table tr td:nth-of-type(3) {
    white-space: pre;
    width: 2em;
    }
#content table tr td:nth-of-type(4) {
    white-space: pre;
    width: 8em;
    }
#content table tr td:nth-of-type(5) {
    border-right: none;
    white-space: normal;
    word-break: break-all;
    word-wrap: break-word;
    }
#content table tr.tab_bts > td:nth-of-type(2):before {
    content: '\f070';
    font: 1em FontAwesome;
    }
#content table tr > td[colspan="3"]:nth-of-type(3) {
    white-space: normal;
    word-break: break-all;
    word-wrap: break-word;
    }
